# Авторизация (auth.log)
-w /var/log/auth.log -p wa -k auth_logs

# Sudo
-w /var/log/sudo.log -p wa -k sudo_logs

# Изменения в системных файлах
-w /etc/passwd -p wa -k passwd_change
-w /etc/shadow -p wa -k shadow_change
-w /etc/group -p wa -k group_change
-w /etc/sudoers -p wa -k sudoers_change
-w /etc/ssh/sshd_config -p wa -k sshd_config_change